@media screen and (min-width: 768px) {
  .flex-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image {
    width: 30%;
  }

  .description {
    width: 60%;
    background-color: lightgray;
    padding: 20px;
    text-align: justify;
  }

  .button {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  .flex-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .description {
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    text-align: justify;
  }

  .button {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgb(60, 60, 60);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.nav {
  background-color: rgb(0, 33, 0);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 5%;
}

.nav li a {
  font-size: 30px;
  color: gold;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  background-color: rgb(0, 33, 0);
  cursor: pointer;
}

.nav li a:hover:not(.active) {
  background-color: rgb(0, 90, 0);
}

.title {
  text-align: center;
  color: gold;
  margin-top: 7%;
  margin-bottom: 7%;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgb(0, 33, 0), -1px -1px 0px rgb(0, 33, 0),
    1px -1px 0px rgb(0, 33, 0), -1px 1px 0px rgb(0, 33, 0);
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.commontext {
  text-align: justify;
  color: rgb(255, 238, 143);
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
  border-radius: 10px;
  width: 70%;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
}

.image img {
  width: 100%;
  height: auto;
  flex-grow: 1;
  max-width: 100%;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  flex: 1;
  background-color: lightgray;
  padding: 20px;
  text-align: justify;
}

.button {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.677);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button button {
  background-color: rgb(0, 33, 0);
  padding: 10px;
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  border: none;
  color: gold;
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(0, 90, 0);
}

.button p {
  margin: 15%;
  font-size: larger;
}

.price {
  font-size: large;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white,
    -1px 1px 0px white;
}

footer {
  background-color: rgb(0, 33, 0);
  padding: 10px;
  color: gold;
  margin-top: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  list-style-type: none;
  font-size: small;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

footer a {
  color: gold;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0, 33, 0);
}

footer a:hover {
  background-color: rgb(0, 90, 0);
}

.commonbutton {
  font-size: small;
  color: gold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0, 33, 0);
}

.commonbutton:hover{
  background-color: rgb(0, 90, 0);
}